<%- include("header"); %>
    <!DOCTYPE html>

    <html>
    <main class="container p-3">

        <br><br>
        <h1>Proyecto #3</h1>
        <br><br>

        <div class="alert card text-white bg-dark mb-3">
            <div class="card-header">
                <h3>HTML, NodeJS, Mysql, CSS</h3>
            </div>
            <div class="card-body">
            </div>
        </div>

        <br><br><br>
    </main>

    </html>