<%- include("../header"); %>

    <main class="container p-4">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card card-body">
                    <div class="col-12">
                        <br>
                        <h2>Editar importaciones</h2>
                        <br>
                        <form method="post" action="/importaciones/actualizar">

                            <input value="<%= importacion.id %>" name="id" type="hidden">
                            <div class="form-group">
                                <label for="nombre"><strong>Nombre del producto</strong></label>
                                <select required id="nombre" name="nombre" class="form-control" required/>
                                <option readonly selected>
                                    <%= importacion.nombre %>
                                </option>
                                <option>Madera Caoba</option>
                                <option>Madera Cedro</option>
                                <option>Plancha de granito</option>
                                <option>Plancha de marmol</option>
                                <option>Espejos de baño</option>
                                <option>Lavamanos</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="valor_compra"><strong>Valor de compra</strong></label>
                                <input value="<%= importacion.valor_compra %>" required id="valor_compra" placeholder="Ingrese el valor de la compra" class="form-control" type="number" name="valor_compra">
                            </div>
                            <div class="form-group">
                                <label for="pais_origen"><strong>Pais de origen</strong></label>
                                <select required id="pais_origen" name="pais_origen" class="form-control" required/>
                                <option readonly selected>
                                    <%= importacion.pais_origen %>
                                </option>
                                <option>El Salvador</option>
                                <option>Honduras</option>
                                <option>USA</option>
                                <option>Japon</option>
                                <option>Mexico</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="proveedor"><strong>Proveedor</strong></label>
                                <select required id="proveedor" name="proveedor" class="form-control" required/>
                                <option readonly selected>
                                    <%= importacion.proveedor %>
                                </option>
                                <option>Export Maderas</option>
                                <option>Outlet USA</option>
                                <option>Imperio HN</option>
                                <option>Xiani Japan</option>
                                <option>Granito Mexicano</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="iva"><strong>Iva de importacion</strong></label>
                                <input value="<%= importacion.iva %>" required id="iva" placeholder="Ingrese el IVA de importacion" class="form-control" type="text" name="iva">
                            </div>
                            <div class="form-group">
                                <label for="costo_transporte"><strong>Costo del transporte</strong></label>
                                <input value="<%= importacion.costo_transporte %>" required id="costo_transporte" placeholder="Ingrese el costo del transporte" class="form-control" type="number" name="costo_transporte">
                            </div>
                            <div class="form-group">
                                <label for="aduana"><strong>Aduana de ingreso</strong></label>
                                <select required id="aduana" name="aduana" class="form-control" required/>
                                <option readonly selected>
                                    <%= importacion.aduana %>
                                </option>
                                <option>Corinto</option>
                                <option>Tecún Umán I</option>
                                <option>El Florido</option>
                                <option>El Carmen</option>
                                <option>La Ermita</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="cantidad"><strong>Cantidad de productos</strong></label>
                                <select required id="cantidad" name="cantidad" class="form-control" required/>
                                <option readonly selected>
                                    <%= importacion.cantidad %>
                                </option>
                                <option>50</option>
                                <option>100</option>
                                <option>500</option>
                                <option>1000</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="Origen"><strong>Origen</strong></label>
                                <input readonly value="<%= importacion.origen %>" required id="origen" class="form-control" type="text" name="origen">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary">Modificar</button> &nbsp;
                                <a href="/importaciones" class="btn btn-warning">Volver</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <%- include("../footer"); %>