<%- include("../header"); %>

    <main class="container p-3">
        <div class="col-12">
            <br>
            <h1>Importaciones</h1>

            <button type="button" class="btn btn-info mb-2" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Ingresar registro</button>
            <br><br>

            <div class="row">
                <div class="col-md-2.5">
                    <form method="post" action="/importaciones/insertar">
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Ingresar una importacion</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <select required id="nombre" name="nombre" class="form-control" required/>
                                                <option disabled selected>Seleccione un material</option>
                                                <option>Madera Caoba</option>
                                                <option>Madera Cedro</option>
                                                <option>Plancha de granito</option>
                                                <option>Plancha de marmol</option>
                                                <option>Espejos de baño</option>
                                                <option>Lavamanos</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <input required id="valor_compra" placeholder="Ingrese el valor de la compra" class="form-control" type="number" name="valor_compra">
                                            </div>
                                            <div class="form-group">
                                                <select required id="pais_origen" name="pais_origen" class="form-control" required/>
                                                <option disabled selected>Seleccione un pais</option>
                                                <option>El Salvador</option>
                                                <option>Honduras</option>
                                                <option>USA</option>
                                                <option>Japon</option>
                                                <option>Mexico</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <select required id="proveedor" name="proveedor" class="form-control" required/>
                                                <option disabled selected>Seleccione un proovedor</option>
                                                <option>Export Maderas</option>
                                                <option>Outlet USA</option>
                                                <option>Imperio HN</option>
                                                <option>Xiani Japan</option>
                                                <option>Granito Mexicano</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <input required id="iva" placeholder="Ingrese el IVA de importacion" class="form-control" type="text" name="iva">
                                            </div>
                                            <div class="form-group">
                                                <input required id="costo_transporte" placeholder="Ingrese el costo del transporte" class="form-control" type="number" name="costo_transporte">
                                            </div>
                                            <div class="form-group">
                                                <select required id="aduana" name="aduana" class="form-control" required/>
                                                <option disabled selected>Seleccione una aduana</option>
                                                <option>Corinto</option>
                                                <option>Tecún Umán I</option>
                                                <option>El Florido</option>
                                                <option>El Carmen</option>
                                                <option>La Ermita</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <select required id="cantidad" name="cantidad" class="form-control" required/>
                                                <option disabled selected>Seleccione una cantidad</option>
                                                <option>50</option>
                                                <option>100</option>
                                                <option>500</option>
                                                <option>1000</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <input readonly required id="origen" class="form-control" type="text" name="origen" value="Importado">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
                                        <button type="submit" class="btn btn-info">Guardar Registro</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <br><br>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Valor Compra</th>
                            <th>Pais Origen</th>
                            <th>Proveedor</th>
                            <th>Iva</th>
                            <th>Costo del transporte</th>
                            <th>Aduana</th>
                            <th>Cantidad</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% importaciones.forEach(importacion => { %>
                            <tr>
                                <td>
                                    <%= importacion.nombre %>
                                </td>
                                <td>
                                    <%= importacion.valor_compra %>
                                </td>
                                <td>
                                    <%= importacion.pais_origen %>
                                </td>
                                <td>
                                    <%= importacion.proveedor %>
                                </td>
                                <td>
                                    <%= importacion.iva %>
                                </td>
                                <td>
                                    <%= importacion.costo_transporte %>
                                </td>
                                <td>
                                    <%= importacion.aduana %>
                                </td>
                                <td>
                                    <%= importacion.cantidad %>
                                </td>
                                <td>
                                    <a href="/importaciones/editar/<%= importacion.id %>" class="btn btn-primary">
                                        <i class="fas fa-marker"></i>
                                    </a>
                                    <a href="/importaciones/eliminar/<%= importacion.id %>" class="btn btn-danger">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                            <% })%>
                    </tbody>
                </table>
    </main>

    <%- include("../footer"); %>