<%- include("../header"); %>

    <main class="container p-4">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card card-body">
                    <div class="col-12">
                        <br>
                        <h2>Editar compras nacionales</h2>
                        <br>
                        <form method="post" action="/compras_nacionales/actualizar">

                            <input value="<%= compra.id %>" name="id" type="hidden">
                            <div class="form-group">
                                <label for="nombre"><strong>Nombre del producto</strong></label>
                                <select required id="nombre" name="nombre" class="form-control" required/>
                                <option readonly selected>
                                    <%= compra.nombre %>
                                </option>
                                <option>Madera Caoba</option>
                                <option>Madera Cedro</option>
                                <option>Plancha de granito</option>
                                <option>Plancha de marmol</option>
                                <option>Espejos de baño</option>
                                <option>Lavamanos</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="valor_compra"><strong>Valor de compra</strong></label>
                                <input value="<%= compra.valor_compra %>" required id="valor_compra" placeholder="Ingrese el valor de la compra" class="form-control" type="number" name="valor_compra">
                            </div>
                            <div class="form-group">
                                <label for="proveedor"><strong>Proveedor</strong></label>
                                <select required id="proveedor" name="proveedor" class="form-control" required/>
                                <option readonly selected>
                                    <%= compra.proveedor %>
                                </option>
                                <option>Aserradero Chapin</option>
                                <option>Imperio Caoba</option>
                                <option>Almacen Tropical</option>
                                <option>Marmol GT</option>
                                <option>Bodega el Dragon</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="cantidad"><strong>Cantidad de productos</strong></label>
                                <select required id="cantidad" name="cantidad" class="form-control" required/>
                                <option readonly selected>
                                    <%= compra.cantidad %>
                                </option>
                                <option>50</option>
                                <option>100</option>
                                <option>500</option>
                                <option>1000</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="Origen"><strong>Origen</strong></label>
                                <input readonly value="<%= compra.origen %>" required id="origen" placeholder="Precio del producto" class="form-control" type="text" name="origen">
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary">Modificar</button> &nbsp;
                                <a href="/compras_nacionales" class="btn btn-warning">Regresar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <%- include("../footer"); %>