<%- include("../header"); %>

    <main class="container p-3">
        <div class="col-10">
            <br>
            <h1>Compras nacionales</h1>

            <button type="button" class="btn btn-info mb-2" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Ingresar registro</button>
            <br><br>

            <div class="row">
                <div class="col-md-2.5">
                    <form method="post" action="/compras_nacionales/insertar">
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Ingresar una compra nacional</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <div class="form-group">
                                                <select required id="nombre" name="nombre" class="form-control" required/>
                                                <option disabled selected>Seleccione un material</option>
                                                <option>Madera Caoba</option>
                                                <option>Madera Cedro</option>
                                                <option>Plancha de granito</option>
                                                <option>Plancha de marmol</option>
                                                <option>Espejos de baño</option>
                                                <option>Lavamanos</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <input required id="valor_compra" placeholder="Ingrese el valor de la compra" class="form-control" type="number" name="valor_compra">
                                            </div>
                                            <div class="form-group">
                                                <select required id="proveedor" name="proveedor" class="form-control" required/>
                                                <option disabled selected>Seleccione un proovedor</option>
                                                <option>Aserradero Chapin</option>
                                                <option>Imperio Caoba</option>
                                                <option>Almacen Tropical</option>
                                                <option>Marmol GT</option>
                                                <option>Bodega el Dragon</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <select required id="cantidad" name="cantidad" class="form-control" required/>
                                                <option disabled selected>Seleccione una cantidad</option>
                                                <option>50</option>
                                                <option>100</option>
                                                <option>500</option>
                                                <option>1000</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <input readonly required id="origen" class="form-control" type="text" name="origen" value="Compra Nacional">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
                                        <button type="submit" class="btn btn-info">Guardar Registro</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Nombre del producto</th>
                            <th>Valor de la compra</th>
                            <th>Proveedor</th>
                            <th>Cantidad</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% compras_nacionales.forEach(compra => { %>
                            <tr>
                                <td>
                                    <%= compra.nombre %>
                                </td>
                                <td>
                                    <%= compra.valor_compra %>
                                </td>
                                <td>
                                    <%= compra.proveedor %>
                                </td>
                                <td>
                                    <%= compra.cantidad %>
                                </td>
                                <td>
                                    <a href="/compras_nacionales/editar/<%= compra.id %>" class="btn btn-primary">
                                        <i class="fas fa-marker"></i>
                                    </a>
                                    <a href="/compras_nacionales/eliminar/<%= compra.id %>" class="btn btn-danger">
                                        <i class="far fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                            <% })%>
                    </tbody>
                </table>
    </main>
    <%- include("../footer"); %>