<%- include("../header"); %>

    <main class="container p-4">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <div class="card card-body">
                    <div class="col-12">
                        <br>
                        <h2>Editar Registros</h2>
                        <br>
                        <form method="post" action="/listado_bodega/actualizar">

                            <input value="<%= bodega.id %>" name="id" type="hidden">
                            <div class="form-group">
                                <label for="nombre">Nombre del producto</label>
                                <input readonly value="<%= bodega.nombre %>" required id="nombre" placeholder="Nombre del producto" class="form-control" type="text" name="nombre">
                            </div>
                            <div class="form-group">
                                <label for="valor_compra">Valor de compra</label>
                                <input readonly value="<%= bodega.valor_compra %>" required id="valor_compra" placeholder="Nombre del producto" class="form-control" type="number" name="valor_compra">
                            </div>
                            <div class="form-group">
                                <label for="pais_origen">Pais de origen</label>
                                <input readonly value="<%= bodega.pais_origen %>" required id="pais_origen" placeholder="Dato no disponible" class="form-control" type="text" name="pais_origen">
                            </div>
                            <div class="form-group">
                                <label for="proveedor">Proveedor</label>
                                <input readonly value="<%= bodega.proveedor %>" required id="proveedor" placeholder="Nombre del producto" class="form-control" type="text" name="proveedor">
                            </div>
                            <div class="form-group">
                                <label for="iva">Iva de importacion</label>
                                <input readonly value="<%= bodega.iva %>" required id="iva" placeholder="Dato no disponible" class="form-control" type="text" name="iva">
                            </div>
                            <div class="form-group">
                                <label for="costo_transporte">Costo del transporte</label>
                                <input readonly value="<%= bodega.costo_transporte %>" required id="costo_transporte" placeholder="Dato no disponible" class="form-control" type="number" name="costo_transporte">
                            </div>
                            <div class="form-group">
                                <label for="aduana">Aduana de ingreso</label>
                                <input readonly value="<%= bodega.aduana %>" required id="aduana" placeholder="Dato no disponible" class="form-control" type="text" name="aduana">
                            </div>
                            <div class="form-group">
                                <label for="cantidad">Cantidad de productos</label>
                                <input readonly value="<%= bodega.cantidad %>" required id="cantidad" placeholder="Precio del producto" class="form-control" type="number" name="cantidad">
                            </div>
                            <div class="form-group">
                                <label for="origen">Origen</label>
                                <input readonly value="<%= bodega.origen %>" required id="origen" placeholder="Precio del producto" class="form-control" type="text" name="origen">
                            </div>
                            <div class="form-group">
                                <a href="/listado_bodega" class="btn btn-warning">Regresar</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>


    <%- include("../footer"); %>