<%- include("../header"); %>

    <main class="container p-3">
        <div class="col-12">
            <br>
            <h1>Listado de bodega</h1>

            <br><br>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Valor Compra</th>
                        <th>Proveedor</th>
                        <th>Cantidad</th>
                        <th>Origen</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <% listado_bodega.forEach(bodega => { %>
                        <tr>
                            <td>
                                <%= bodega.nombre %>
                            </td>
                            <td>
                                <%= bodega.valor_compra %>
                            </td>
                            <td>
                                <%= bodega.proveedor %>
                            </td>
                            <td>
                                <%= bodega.cantidad %>
                            </td>
                            <td>
                                <%= bodega.origen %>
                            </td>
                            <td>
                                <a href="/listado_bodega/consultar/<%= bodega.id %>" class="btn btn-info">
                                    <i class="far fa-eye"></i>
                                </a>
                                <a href="/listado_bodega/eliminar/<%= bodega.id %>" class="btn btn-danger">
                                    <i class="far fa-trash-alt"></i>
                                </a>
                            </td>
                        </tr>
                        <% })%>
                </tbody>
            </table>
    </main>

    <%- include("../footer"); %>